<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div id="container">
        <h2>Index</h2>
        <a href="/collection/new">
            <button>
                Add Item
            </button>
        </a>
        <ul>
            <% for(let i = 0; i < collectables.length; i++) {%>
                <li>
                    <a href="/collection/<%=collectables[i]._id;%>">
                        <%=collectables[i].name;%>
                    </a><br/>
                    <a href="/collection/<%=collectables[i].id%>/edit">Edit</a>
                    <form action="/collection/<%=collectables[i].id%>?_method=DELETE" method="POST">
                        <input type="submit" value="DELETE"/>
                    </form>
                </li>

            <% } %>
        </ul>

    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>